{
  "tagFormat": "${version}",
  "branches": [
    "master",
    { "name": "feat/*", "channel": "preview", "prerelease": true },
    { "name": "fix/*", "channel": "preview", "prerelease": true },
    { "name": "chore/*", "channel": "preview", "prerelease": true }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }],
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "docs", "package.json", "pnpm-lock.yaml"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}
